<main>
  <div class=fv>
    <picture>
      <source srcset="/assets/top_img.webp" class="top-fv" type="image/webp" >
      <img src="/assets/top_img_min.png" class="top-fv">
    </picture>
  </div>
  <div class="area-list">
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(1) %>
        <source srcset="/assets/tokyo.webp" class="top-fv" type="image/webp" >
        <img src="/assets/tokyo.jpg" class="top-fv">
      </picture>
      <div>
        <h3>東京</h3>
        <p>TOKYO</p>
      </div>
    </div>
    <div class="area">
      <picture>
        <%= link_to '', prefecture_path(2) %>
        <source srcset="/assets/island.webp" class="top-fv" type="image/webp" >
        <img src="/assets/island.png" class="top-fv">
      </picture>
      <div>
        <h3>神奈川</h3>
        <p>KANAGAWA</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(3) %>
        <source srcset="/assets/sea1.webp" class="top-fv" type="image/webp" >
        <img src="/assets/sea1.jpg" class="top-fv">
      </picture>
      <div>
        <h3>千葉</h3>
        <p>CHIBA</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(4) %>
        <source srcset="/assets/mountain2.webp" class="top-fv" type="image/webp" >
        <img src="/assets/mountain2.jpg" class="top-fv">
      </picture>
      <div>
        <h3>埼玉</h3>
        <p>SAITAMA</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(5) %>
        <source srcset="/assets/beach.webp" class="top-fv" type="image/webp" >
        <img src="/assets/beach.jpg" class="top-fv">
      </picture>
      <div>
        <h3>茨城</h3>
        <p>IBARAKI</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(6) %>
        <source srcset="/assets/field.webp" class="top-fv" type="image/webp" >
        <img src="/assets/field.jpg" class="top-fv">
      </picture>
      <div>
        <h3>栃木</h3>
        <p>TOCHIGI</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(7) %>
        <source srcset="/assets/mountain1.webp" class="top-fv" type="image/webp" >
        <img src="/assets/mountain1.jpg" class="top-fv">
      </picture>
      <div>
        <h3>群馬</h3>
        <p>GUNMA</p>
      </div>
    </div>
    <div class=area>
      <picture>
        <%= link_to '', prefecture_path(8) %>
        <source srcset="/assets/lake.webp" class="top-fv" type="image/webp" >
        <img src="/assets/lake.jpg" class="top-fv">
      </picture>
      <div>
        <h3>山梨</h3>
        <p>YAMANASHI</p>
      </div>
    </div>
  </div>
</main>